html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

html {
  line-height: 1; }

body {
  font-family: "Roboto", sans-serif, serif;
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

img {
  max-width: 100%;
  height: auto;
  border: none; }

a {
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
  box-sizing: border-box; }

:focus {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.cf:before, .cf:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.cf:after {
  clear: both; }

* {
  box-sizing: border-box; }

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.header__wrapper {
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  @media (max-width: 768px) {
    .header__wrapper {
      -ms-flex-direction: column;
          flex-direction: column; } }

.header__pic {
  width: 50%; }
  @media (max-width: 768px) {
    .header__pic {
      width: 100%; } }
  .header__pic img {
    height: 100vh;
    min-height: 630px;
    width: 100%;
    object-fit: cover; }
    @media (max-width: 768px) {
      .header__pic img {
        height: 50vh; } }

.header__nav {
  position: absolute;
  top: 60px;
  left: 50%;
  z-index: 2;
  -ms-transform: translateX(-46%);
      transform: translateX(-46%); }
  @media (min-width: 1025px) and (max-width: 1280px) {
    .header__nav {
      left: 45%;
      -ms-transform: translateX(-36%);
          transform: translateX(-36%); } }
  @media (min-width: 769px) and (max-width: 1024px) {
    .header__nav {
      width: 100%;
      top: 0;
      left: 0;
      -ms-transform: translateX(0);
          transform: translateX(0); } }
  @media (max-width: 768px) {
    .header__nav {
      width: 100%;
      top: 0;
      left: 0;
      -ms-transform: translateX(0);
          transform: translateX(0); } }

.header__image {
  display: none; }
  .header__image--active {
    display: block;
    -ms-transform: translateX(0);
        transform: translateX(0);
    animation: appearLeft 3s ease; }

@keyframes appearLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.header .descript {
  width: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 30px 0;
  background-color: #F8F9FA; }
  @media (min-width: 769px) and (max-width: 1024px) {
    .header .descript {
      margin: 0; } }
  @media (max-width: 768px) {
    .header .descript {
      width: 100%;
      margin: 0; } }
  .header .descript__container {
    padding: 100px 200px 100px 100px;
    display: none; }
    .header .descript__container--active {
      display: block;
      -ms-transform: translateX(0);
          transform: translateX(0);
      animation: appearRight 4s ease; }
      @media (min-width: 1025px) and (max-width: 1280px) {
        .header .descript__container--active {
          padding: 80px; } }
      @media (min-width: 769px) and (max-width: 1024px) {
        .header .descript__container--active {
          padding: 30px; } }
      @media (max-width: 768px) {
        .header .descript__container--active {
          padding: 30px; } }

@keyframes appearRight {
  0% {
    transform: translateX(0%);
    opacity: 0;
    color: #ffffff; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
  .header .descript__header {
    margin-bottom: 30px;
    font-family: "Playfair Display", serif;
    font-size: 34px; }
    @media (max-width: 768px) {
      .header .descript__header {
        text-align: center; } }
  .header .descript__paragraph {
    margin: 30px 0;
    line-height: 2;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 100; }
  .header .descript__link {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #48474E;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 600; }
    @media (max-width: 768px) {
      .header .descript__link {
        float: right; } }

.header .nav__menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  background-color: #ffffff;
  padding: 2px 0;
  border-radius: 5px; }
  @media (min-width: 769px) and (max-width: 1024px) {
    .header .nav__menu {
      -ms-flex-pack: distribute;
          justify-content: space-around;
      background: linear-gradient(to bottom, #e3e3e4, rgba(255, 254, 254, 0)); } }
  @media (max-width: 768px) {
    .header .nav__menu {
      -ms-flex-pack: distribute;
          justify-content: space-around;
      background: linear-gradient(to bottom, #e3e3e4, rgba(255, 254, 254, 0)); } }

.header .nav__item {
  -ms-flex-positive: 1;
      flex-grow: 1; }
  @media (min-width: 769px) and (max-width: 1024px) {
    .header .nav__item {
      -ms-flex-positive: 0;
          flex-grow: 0; } }
  @media (max-width: 768px) {
    .header .nav__item {
      -ms-flex-positive: 0;
          flex-grow: 0; } }

.header .nav__link {
  display: inline-block;
  padding: 20px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #869099;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400; }
  @media (min-width: 769px) and (max-width: 1024px) {
    .header .nav__link {
      padding: 15px;
      color: #000000; } }
  @media (max-width: 768px) {
    .header .nav__link {
      padding: 15px 3px;
      color: #000000; } }
  .header .nav__link:hover {
    color: #000000; }
  .header .nav__link--active {
    background-color: #F3F3F5;
    color: #000000; }
    @media (min-width: 769px) and (max-width: 1024px) {
      .header .nav__link--active {
        background-color: rgba(213, 213, 216, 0.5); } }
    @media (max-width: 768px) {
      .header .nav__link--active {
        background-color: rgba(213, 213, 216, 0.5); } }

.offers {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 100px 0;
  padding-left: 200px;
  overflow: hidden; }
  @media (min-width: 769px) and (max-width: 1024px) {
    .offers {
      margin: 50px 0;
      padding: 50px; } }
  @media (max-width: 768px) {
    .offers {
      margin: 20px 0;
      padding: 30px 10px; } }
  .offers__top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    margin-right: 200px;
    padding: 20px 5px;
    border-bottom: 1px solid #E4E6E8; }
    @media (min-width: 769px) and (max-width: 1024px) {
      .offers__top {
        margin-right: 0px; } }
    @media (max-width: 768px) {
      .offers__top {
        margin-right: 0px;
        padding: 10px 15px; } }
  .offers__header {
    font-family: "Playfair Display", serif;
    font-size: 34px;
    margin-bottom: 30px; }
  .offers__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #48474E; }

.top__header {
  margin-bottom: 0; }

.gallery {
  margin-top: 30px;
  margin-right: -15%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  @media (max-width: 768px) {
    .gallery {
      margin: 10px 5px; } }
  .gallery__item {
    margin-right: 25px;
    height: 550px;
    width: 400px; }
    @media (max-width: 768px) {
      .gallery__item {
        margin-right: 0; } }
  .gallery__pic {
    height: 100%;
    width: 100%;
    transition: all 1.5s ease; }
    @media (min-width: 769px) and (max-width: 1024px) {
      .gallery__pic {
        object-fit: cover; } }
  .gallery__container {
    margin: auto;
    height: 400px;
    overflow: hidden;
    border-radius: 2%;
    transition: all 1s ease; }
    .gallery__container:hover {
      border-radius: 10%;
      -ms-transform: scale(0.9);
          transform: scale(0.9);
      cursor: pointer; }
      @media (min-width: 769px) and (max-width: 1024px) {
        .gallery__container:hover {
          -ms-transform: scale(1);
              transform: scale(1);
          border-radius: inherit; } }
      @media (max-width: 768px) {
        .gallery__container:hover {
          -ms-transform: scale(1);
              transform: scale(1);
          border-radius: inherit; } }
    .gallery__container:hover img {
      -ms-transform: scale(1.5);
          transform: scale(1.5); }
      @media (min-width: 769px) and (max-width: 1024px) {
        .gallery__container:hover img {
          -ms-transform: scale(1);
              transform: scale(1); } }
      @media (max-width: 768px) {
        .gallery__container:hover img {
          -ms-transform: scale(1);
              transform: scale(1); } }
  .gallery__spec {
    padding: 30px 25px; }

.spec {
  line-height: 3; }
  .spec__header {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #2B2A36; }
    .spec__header:hover {
      text-decoration: underline; }
  .spec__text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #869099; }

.arrow-animated {
  height: 5px;
  width: 5px;
  border: 15px solid transparent;
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  position: relative; }
  .arrow-animated:before {
    content: "";
    display: block;
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #292B2C;
    border-right: 1px solid #292B2C;
    top: 0;
    left: 0;
    opacity: 1;
    animation: bottom-arrow 1.7s infinite;
    top: 0;
    left: 0;
    border-bottom: 1px solid #292B2C;
    border-right: 1px solid #292B2C;
    animation: top-arrow 1.7s infinite; }
  .arrow-animated:after {
    content: "";
    display: block;
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #292B2C;
    border-right: 1px solid #292B2C;
    top: 0;
    left: 0;
    opacity: 1;
    animation: bottom-arrow 1.7s infinite; }

@keyframes bottom-arrow {
  0% {
    opacity: 1;
    transform: translate(0, 0); }
  45% {
    opacity: 0;
    transform: translate(12px, 12px); }
  46% {
    opacity: 0;
    transform: translate(-16px, -16px); }
  90% {
    opacity: 1;
    transform: translate(-6px, -6px); }
  100% {
    opacity: 1;
    transform: translate(-6px, -6px); } }

@keyframes top-arrow {
  0% {
    transform: translate(-6px, -6px); }
  35% {
    transform: translate(0, 0); }
  90% {
    opacity: 1;
    transform: translate(0, 0); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }
