// Colors

$bgcolor :                  #F8F9FA;
$bgcolor_active :           #F3F3F5;
$bgcolor_active-mob :       rgba(213, 213, 216, 0.5);
$color_white :              #ffffff;
$color_black :              #000000;
$color_arrows :             #292B2C;

// Fonts

$primary_font :             'Roboto', sans-serif;
$secondary_font :           'Playfair Display', serif;

// Time

$time :                      0.3s;
$time_left-tab :             3s;
$time_right-tab :            4s;
$time_arrow-animation :      1.7s;


//Effects
$ease :                      ease;

// Adaptive

$laptop-width :              1280px;
$tablet_pro-width :          1024px;
$tablet-width :              768px;
$mobile-width :              414px;

